<section class="jc-header" *ngIf="user">
  <div class="title">
      <a routerLink="/dashboard"><label>Teslapp</label></a>
  </div>
  <nav class="navbar navbar-expand" *ngIf="user">
      <div class="navbar-nav">
          <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
          <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ABM</a>
          <a (click)="logout()">Salir</a>
      </div>    
  </nav>
  
</section>

<div class="app-container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<div class="text-center mt-4">
  <p>
      Powered by <a class="text-danger" href="https://www.custosol.com" target="_blank">Custosol</a>
  </p>
</div>