/* You can add global styles to this file, and also import other style files */
a { cursor: pointer; outline: none; }

.app-container {
    width: 100vw;
    overflow: hidden;
    background-color: white;
    box-shadow:  0 0 01vw 0.2vw rgba(0, 0, 0, 0.1);
    border-bottom: 0.1vw solid rgba(0, 0, 0, 0.2);
}

.jc-container {
    padding-right: 10vw;
    background: #ED213A; 
    background: -webkit-linear-gradient(to top, #93291E, #ED213A);  
    background: linear-gradient(to top, #93291E, #ED213A);
}

.container-fluid {
    background-color: white;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.icon {
    font-size: 01.3rem;
    margin-top: 01vh;
    outline: none;
    color: whitesmoke;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.btn {
    border-bottom: 0.7vw solid rgba(0, 0, 0, 0.2);
}

.jc-header {
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: 10vh;
    box-shadow: 0 0 01vw 0.2vw rgba(0, 0, 0, 0.9);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #333, #222, #111, #000, #000);
    background-color: rgba(0, 0, 0, 0.9);
}

.jc-header label {
    font-family: 'Major Mono Display', monospace;
    color: white;
    cursor: pointer;
}

.jc-header .title {
    display: flex;
    height: 10vh;
    align-content: center;
    align-items: center;
    margin-left: 02vw;
}

.jc-header .title label {
    padding: 0;
    margin: 0;
}

.jc-header .navbar.navbar-expand .navbar-nav{
    display: flex;
    align-content: center;
    align-items: center;
}

.jc-header .navbar.navbar-expand .navbar-nav a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 300;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 0 0.5vw 0 0.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
