<div>
    <div class="container-fluid">
        <h1 class="text-center">ABM</h1>
        <h5 class="text-center">¡Hola {{user.firstName}}!</h5>
        <p class="text-center"> Debajo podrás acceder al ABM del módulo de baterías y del módulo de Corriente</p>
        <p class="text-center">
            <a class="btn btn-danger mr-3" routerLink="/baterias/add">ABM Baterías</a>
            <a class="text-center btn btn-danger" routerLink="/lineas/add">ABM Corriente</a>
            <a class="btn btn-dark ml-3" routerLink="/dashboard">Volver</a>
        </p>
    </div>
</div>